@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  .nav {
    @apply text-lg text-red-700 dark:text-red-700 font-semibold;
  }
  .nav > a {
    @apply hover:text-red-700;
  }
  .panel {
    max-height: 0;
    transition: 0.3s ease-out;
  }
  h2.accordion {
    @apply text-red-800 dark:text-red-600;
  }
  a {
    @apply text-red-800 hover:text-red-800 hover:underline dark:text-red-600 dark:hover:text-red-600;
  }
  .active {
    @apply overflow-visible;
  }
  h1 {
    @apply text-4xl mb-5 mt-1;
  }
  h2 {
    @apply text-3xl mb-4 mt-1;
  }
  h3 {
    @apply text-2xl mb-3 mt-1;
  }
  h4 {
    @apply text-xl mb-2 mt-1;
  }
  h5 {
    @apply text-lg mb-2 mt-1;
  }
  body {
    @apply text-base bg-stone-50 dark:text-stone-50 dark:bg-darkest;
  }
  html {
    touch-action: manipulation;
    scroll-behavior: smooth;
  }
  p {
    @apply mt-2 mb-2;
  }
  summary {
    @apply block text-sm;
  }
  blockquote {
    @apply bg-gray-100 dark:bg-dark;
  }
  .tags,
  .categories {
    @apply p-1 mr-2 mb-2 text-sm rounded hover:shadow;
  }
  .categories {
    @apply text-green-800 bg-green-100 hover:bg-green-200 border border-green-600 dark:border-green-100 !important;
  }
  .tags {
    @apply text-gray-800 bg-gray-200 hover:bg-gray-300 border border-gray-600 dark:border-gray-100 !important;
  }
  .pagination {
    @apply flex flex-row justify-center;
  }
  .page-link {
    @apply px-2 sm:px-4 py-2 border border-gray-200 flex justify-center items-center text-gray-500 hover:text-gray-800 hover:bg-gray-200;
  }
  .page-item.disabled > .page-link {
    @apply text-gray-300 bg-white;
  }
  .page-item.active > .page-link {
    @apply bg-gray-300 pointer-events-none text-gray-800;
  }
}
